<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<img src="http://127.0.0.1:8000/media/prat_logo.png" alt="prat_logo.png" style="height: 50px;width: auto"/>

<div class="pull-right" style="font-size: 8px">
    Forn i Pastisseria Prat - 2018<br>
    Pla&#231a Major, 9 Mollet del Vall&egraves <br>
    Tel. 935 700 162 <br>
    www.fornipastisseriaprat.com <br>
    info@fornipastisseriaprat.com <br>
</div>

{#<img src="http://www.someplaceintheworld/some.png" alt="some logo" />#}
</body>
</html>
